@import '../../../../scss/variables.scss';

.navbar {
  width: 100%;
  background-color: $primary;
  display: flex;
  justify-content: center;

  .container-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  padding-top: 1%;
  padding-bottom: 1%;
  i {
    margin-right: 2px;
  }
}
