@import '../../../../scss/variables.scss';

h3 {
  color: $primary;
  font-weight: bold;
}

hr {
  height: 1px;
  border: none;
  background-color: #E9E9E9;
}


.list-group {
  .list-item {
    display: grid;
    grid-template-columns: 10% 15% 60% 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em;
    border: solid 1px #E9E9E9;
    margin-top: 10px;
    img {
      max-width: 50px;
      border-radius: 50%;
    }
  }

  .name {
    color: #08436F;
    font-weight: bold;
  }
}
